<h3><#LANG_POSTOFFICE_APP_TITLE#></h3>
<div class="well">
   <ul class="nav nav-tabs">
      <li class="active"><a href="#check" data-toggle="tab"><#LANG_POSTOFFICE_TAB_CHECK#></a></li>
      <li><a href="#proxy" data-toggle="tab"><#LANG_POSTOFFICE_TAB_PROXY#></a></li>
      <li><a href="#email" data-toggle="tab"><#LANG_POSTOFFICE_TAB_NOTIFICATION#></a></li>
   </ul>
   <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="check">
         <div style="margin:1em 0;" class="row">
            <form class="form-inline" action="admin.php" method="post" enctype="multipart/form-data" id="TrackAddForm" role="form">
               <div class="form-group col-xs-3" style="padding-left:0">
                  <label for="trackid" class="sr-only"><#LANG_POSTOFFICE_TRACK_NUMBER#></label>
                  <input type="text" placeholder="<#LANG_POSTOFFICE_TRACK_NUMBER#>" name="trackid" class="form-control">
               </div>
               <div class="form-group col-xs-3">
                  <label for="trackname" class="sr-only"><#LANG_POSTOFFICE_TRACK_NAME#></label>
                  <input type="text" placeholder="<#LANG_POSTOFFICE_TRACK_NAME#>" name="trackname" class="form-control">
               </div>
               <div class="form-group col-xs-3">
                  <label for="trackurl" class="sr-only"><#LANG_POSTOFFICE_TRACK_URL#></label>
                  <input type="text" placeholder="<#LANG_POSTOFFICE_TRACK_URL#>" name="trackurl" class="form-control">
               </div>
               <div class="form-group col-xs-2">
                  <input type="hidden" name="act" value="add" />
                  <input type="hidden" name="pd" value="" />
                  <input type="hidden" name="md" value="panel" />
                  <input type="hidden" name="inst" value="" />
                  <input type="hidden" name="action" value="app_postoffice" />
                  <button type="submit" name="postAdd" class="btn btn-primary input-medium"><#LANG_POSTOFFICE_TRACK_ADD#></button>
               </div>
            </form>
         </div>
         <div class="row" style="margin-bottom:1em;">
            <a href="#" role="button" class="btn btn-primary track-check"><#LANG_POSTOFFICE_TRACK_CHECK#></a>
         </div>

         <div class="well">
            <table class="table table-striped table-condensed">
               <thead>
                  <tr>
                     <th>№</th>
                     <th><#LANG_POSTOFFICE_TRACK_NUMBER#></th>
                     <th><#LANG_POSTOFFICE_TRACK_NAME#></th>
                     <th><#LANG_POSTOFFICE_TRACK_URL#></th>
                     <th><#LANG_POSTOFFICE_TRACK_DATE#></th>
                     <th><#LANG_POSTOFFICE_TRACK_STATUS#></th>
                     <th><#LANG_POSTOFFICE_TRACK_LOCATION#></th>
                     <th>Статус</th>
                  </tr>
               </thead>
               <tbody>
                  [#begin TRACK_LIST#]
                  <tr>
                     <td><#TRACK_LIST.TRACK_NUM#></td>
                     <td><#TRACK_LIST.TRACK_ID#></td>
                     <td><#TRACK_LIST.TRACK_NAME#></td>
                     <td><a href="<#TRACK_LIST.TRACK_URL#>" target="_blank"><#TRACK_LIST.TRACK_URL#></a></td>
                     <td><#TRACK_LIST.OPER_DATE#></td>
                     <td><#TRACK_LIST.OPER_NAME#>: <#TRACK_LIST.ATTRIB_NAME#></td>
                     <td><#TRACK_LIST.OPER_POSTPLACE#></td>
                     [#if $T.FLAG_CHECK=="Y"#]
                     <td><span class="label label-success">Active</span></td>
                     [#else#]
                     <td><span class="label label-default">Inactive</span></td>
                     [#endif#]
                     <td>
                        <a href="#" role="button" class="track-change-status"  data-track="<#TRACK_LIST.TRACK_ID#>"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="#PostOfficeTrackRemoveModal" role="button" class="confirm-track-delete" data-track="<#TRACK_LIST.TRACK_ID#>" data-toggle="modal" data-target="#PostOfficeTrackRemoveModal"><i class="glyphicon glyphicon-remove"></i></a>
                     </td>
                  </tr>
                  [#end TRACK_LIST#]
               </tbody>
            </table>
         </div>
      </div>
      <div class="tab-pane fade" id="proxy">
         <div class="clearfix">
            <form class="form col-xs-4" action="admin.php" method="post" enctype="multipart/form-data" id="ProxySettings" role="form">
               [#begin PROXY_LIST#]
               <div class="checkbox">
                  <label>
                     [#if $T.FLAG_PROXY=="Y"#]
                     <input name="proxy_flag" type="checkbox" value="on" checked /><#LANG_POSTOFFICE_PROXY_USE#>
   [#else#]
   <input name="proxy_flag" type="checkbox" value="on" /><#LANG_POSTOFFICE_PROXY_USE#>
   [#endif#]
   <input type="hidden" name="curr_flag" value="<#PROXY_LIST.FLAG_PROXY#>" />
</label>
               </div>
               <div class="form-group">
                  <label for="proxy_host" class="sr-only"><#LANG_POSTOFFICE_PROXY_ADDRESS#></label>
                  <input name="proxy_host" type="text" class="form-control" value="<#PROXY_LIST.PROXY_HOST#>" placeholder="<#LANG_POSTOFFICE_PROXY_ADDRESS#>" />
               </div>
               <div class="form-group">
                  <label for="proxy_port" class="sr-only"><#LANG_POSTOFFICE_PROXY_PORT#></label>
                  <input name="proxy_port" type="text" class="form-control" value="<#PROXY_LIST.PROXY_PORT#>" placeholder="<#LANG_POSTOFFICE_PROXY_PORT#>" />
               </div>
               <div class="form-group">
                  <label for="proxy_user" class="sr-only"><#LANG_POSTOFFICE_PROXY_LOGIN#></label>
                  <input name="proxy_user" type="text" class="form-control" value="<#PROXY_LIST.PROXY_USER#>" placeholder="<#LANG_POSTOFFICE_PROXY_LOGIN#>" />
               </div>
               <div class="form-group">
                  <label for="proxy_passwd" class="sr-only"><#LANG_POSTOFFICE_PROXY_PASSWORD#></label>
                  <input name="proxy_passwd" type="text" class="form-control" value="<#PROXY_LIST.PROXY_PASSWD#>" placeholder="<#LANG_POSTOFFICE_PROXY_PASSWORD#>" />
               </div>
               [#end PROXY_LIST#]
               <div class="form-group">
                  <input type="hidden" name="act" value="proxy" />
                  <input type="hidden" name="pd" value="" />
                  <input type="hidden" name="md" value="panel" />
                  <input type="hidden" name="inst" value="" />
                  <input type="hidden" name="action" value="app_postoffice" />
                  <button type="submit" name="proxyAdd" class="btn btn-primary input-medium"><#LANG_POSTOFFICE_ACTION_CHANGE#></button>
               </div>
            </form>
         </div>
      </div>
      <div class="tab-pane fade" id="email">
         <div class="clearfix">
            <form class="form" action="admin.php" method="post" enctype="multipart/form-data" id="EmailSettings">
               [#begin NOTIFY_LIST#]
               <div class="checkbox">
                  <label>
                     [#if $T.FLAG_SEND=="Y"#]
                     <input name="notify_flag" type="checkbox" value="on" checked /><#LANG_POSTOFFICE_NOTIFY_BY_EMAIL#>
   [#else#]
   <input name="notify_flag" type="checkbox" value="on" /><#LANG_POSTOFFICE_NOTIFY_BY_EMAIL#>
   [#endif#]
   <input type="hidden" name="curr_notify_flag" value="<#NOTIFY_LIST.FLAG_SEND#>" />
</label>
               </div>
               <div class="form-group">
                  <label for="notify_email" class="sr-only"><#LANG_POSTOFFICE_NOTIFY_EMAIL_ADDRESS#></label>
                  <input name="notify_email" type="text" class="form-control" value="<#NOTIFY_LIST.NOTIFY_EMAIL#>" placeholder="<#LANG_POSTOFFICE_NOTIFY_EMAIL_ADDRESS#>" />
               </div>
               <div class="form-group">
                  <label for="notify_subj" class="sr-only"><#LANG_POSTOFFICE_NOTIFY_EMAIL_SUBJECT#></label>
                  <input name="notify_subj" type="text" class="form-control" value="<#NOTIFY_LIST.NOTIFY_SUBJ#>" placeholder="<#LANG_POSTOFFICE_NOTIFY_EMAIL_SUBJECT#>" />
               </div>
               [#end NOTIFY_LIST#]
               <div class="form-group">
                  <input type="hidden" name="act" value="notify" />
                  <input type="hidden" name="pd" value="" />
                  <input type="hidden" name="md" value="panel" />
                  <input type="hidden" name="inst" value="" />
                  <input type="hidden" name="action" value="app_postoffice" />
                  <button type="submit" name="botifyEmail" class="btn btn-primary input-medium"><#LANG_POSTOFFICE_ACTION_CHANGE#></button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="PostOfficeTrackRemoveModal" tabindex="-1" role="dialog" aria-labelledby="PostOfficeTrackRemoveModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_POSTOFFICE_ACTION_CLOSE#></span></button>
            <h3 class="modal-title" id="PostOfficeTrackRemoveModalLabel"><#LANG_POSTOFFICE_CONFIRM_DELETE_TITLE#></h3>
         </div>
         <div class="modal-body">
            <p class="error-text"><#LANG_POSTOFFICE_CONFIRM_DELETE_BODY#></p>
         </div>
         <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><#LANG_POSTOFFICE_ACTION_CANCEL#></button>
            <button class="btn btn-danger" data-dismiss="modal"><#LANG_POSTOFFICE_ACTION_DELETE#></button>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   $('.confirm-track-delete').on('click', function (e)
   {
      e.preventDefault();
      var track_id = $(this).data('track');
      modal = $('#PostOfficeTrackRemoveModal');

      modal.find('.btn-danger').click(function ()
      {
         var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice&act=del&trackid=" + track_id;
         $.get(url).success(function (data)
         {
            alert(data);
            window.location.reload("?");
         });
      });
   });

   $('.track-check').on('click', function (e)
   {
      e.preventDefault();
      var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice";
      $.get(url + "&act=check").done(function (data)
      {
         alert(data);
         window.location.reload(url);
      });
   });

   $('.track-change-status').on('click', function (e)
   {
      e.preventDefault();
      var track_id = $(this).data('track');
      var url = "admin.php?pd=&md=panel&inst=&action=app_postoffice&act=changestatus&trackid=" + track_id;
      $.get(url).done(function (data)
      {
         window.location.reload("admin.php?pd=&md=panel&inst=&action=app_postoffice");
      });
   });
</script>
