<div class="well">
   <table class="table table-striped table-condensed">
      <thead>
         <tr>
            <th><#LANG_POSTOFFICE_TRACK_INDEX#></th>
            <th><#LANG_POSTOFFICE_TRACK_NUMBER#></th>
            <th><#LANG_POSTOFFICE_TRACK_NAME#></th>
            <th><#LANG_POSTOFFICE_TRACK_URL#></th>
            <th><#LANG_POSTOFFICE_TRACK_LM_DATE#></th>
            <th><#LANG_POSTOFFICE_TRACK_DATE#></th>
            <th><#LANG_POSTOFFICE_TRACK_CONDITION#></th>
            <th><#LANG_POSTOFFICE_TRACK_LOCATION#></th>
            <th><#LANG_POSTOFFICE_TRACK_STATUS#></th>
         </tr>
      </thead>
      <tbody>
         [#begin TRACK_LIST#]
         <tr>
            <td><#TRACK_LIST.TRACK_NUM#></td>
            <td><#TRACK_LIST.TRACK_ID#></td>
            <td><#TRACK_LIST.TRACK_NAME#></td>
            <td><a href="<#TRACK_LIST.TRACK_URL#>" target="_blank"><#TRACK_LIST.TRACK_URL#></a></td>
            <td><#TRACK_LIST.TRACK_DATE#></td>
            <td><#TRACK_LIST.OPER_DATE#></td>
            <td><#TRACK_LIST.OPER_NAME#>: <#TRACK_LIST.ATTRIB_NAME#></td>
            <td><#TRACK_LIST.OPER_POSTPLACE#></td>
            [#if $T.FLAG_CHECK=="Y"#]
            <td><span class="label label-success">Active</span></td>
            [#else#]
            <td><span class="label label-default">Inactive</span></td>
            [#endif#]
         </tr>
         [#end TRACK_LIST#]
      </tbody>
   </table>
</div>
